.btn-1-2 {
    $btn-color: random-color($max:200);
    $btn-color-dark: shade($btn-color, 40%);
    color: tint($btn-color);
    
    &:before,
    &:after {
      content: '';
      @include absolute(0,0,0,0);
      border-bottom: $btn-height solid $btn-color-dark;
    }
    
    &:before {
      right: -50px;
      border-right: 50px solid transparent;
      transform: translateX(-100%);
    }
    
    &:after {
      left: -50px;
      border-left: 50px solid transparent;
      transform: translateX(100%);
    }
  
    &:hover {
      color: tint($btn-color, 75%);
  
      &:before { transform: translateX(-40%); }
      &:after { transform: translateX(40%); }
    }
  }