.navbar-default{
    background-color: white;
    width: 100%;
}
.navbar{
    margin-bottom: 0px;
    width: 100%;
    position: relative;
    margin: 10px;
    border: none;
}

.signButton{
    color: white;
    background-color: #00abfa;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
}

.loginButton{
    color: white;
    background-color: #00abfa;
    padding: 10px;
    border-radius: 8px;
}

.helpButton{
    color: white;
    background-color: #00abfa;
    padding: 10px;
    border-radius: 8px;
}

.navbar-brand>img{
    width: 115px;
    position: absolute;
    top: -5px;
}

